@{
    Layout = "_Layout1";
}
@model CreateRoleViewModel
<form method="post">
    <div class="card">
        <div class="card-header"><h1> Create New Role</h1></div>
        <div class="card-body">
            <label asp-for="RoleName"></label>
            <input asp-for="RoleName" class="form form-control" />

        </div>
        <div class="card-footer">
            <button type="submit" class="btn btn-primary">create role</button>
        </div>
    </div>
</form>